<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('vetements.show', {slug: vetement.slug, id: vetement.id })}}">
				{{ vetement.titre }}
			</a>
		</h5>
		<p class="card-text">{{ vetement.description | nl2br }}</p>
		<div class="row">
			<p class="card-text col-md-6">{{ vetement.sex }}</p>
			<p class="card-text col-md-6">{{ vetement.categorie }}</p>
		</div>
		<p class="card-text">{{ vetement.taille }}</p>

		<p class="card-text text-primary">{{ vetement.prix | number_format('0', '', ' ') }}
			€</p>

	</div>
</div>
